{{ 'digifist.css' | asset_url | stylesheet_tag }}
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<div class="main_content">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "left" %}
      <div class="left_side">
        <img
          src="{{  block.settings.left_img | img_url:"master" }}"
          class="left_img"
          alt="main image">
      </div>
      {% when "right" %}
      <div class="right_side">
        <div class="title">{{ block.settings.title }}</div>
        <div class="desc">
          {{ block.settings.desc }}
        </div>
        <div class="digi_button">
          <a href="{{block.settings.collection.url}} ">
            {{ block.settings.digi_button }}
          </a>
        </div>
        <div class="scroll">
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for product in block.settings.collection.products %}
                <div class="swiper-slide">
                  <img src="{{ product.featured_image | img_url: 'master' }}" alt="hoodie">
                  <div class="price">{{ product.price | money_with_currency }}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

          </div>
        </div>
      </div>
    {% endcase %}
  {% endfor %}

</div>

<script>
  const swiper = new Swiper('.swiper', {

    slidesPerView: 2.5,
    spaceBetween: 32,

    // Optional parameters
    direction: 'horizontal',
    loop: true,

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    }

  });
</script>

{% schema %}
  {
    "name": "Digifist",
    "tag": "section",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "left",
        "name": "left side",
        "settings": [
          {
            "type": "image_picker",
            "id": "left_img",
            "label": "left big image"
          }
        ]
      }, {
        "type": "right",
        "name": "right side",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": " Right side title"
          }, {
            "type": "text",
            "id": "desc",
            "label": " Right side description"
          }, {
            "type": "text",
            "id": "digi_button",
            "label": " Right side button"
          }, {
            "type": "collection",
            "id": "collection",
            "label": " collections"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Digifist"
      }
    ]
  }
{% endschema %}