{{ 'digifist.css' | asset_url | stylesheet_tag }}

<div class="main_content">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "left" %}
      <div class="left_side">
        <img
          src="{{  block.settings.left_img | img_url:"master" }}"
          class="left_img"
          alt="main image">
      </div>
      {% when "right" %}
      <div class="right_side">
        <div class="title">{{ block.settings.title }}</div>
        <div class="desc">
          {{ block.settings.desc }}
        </div>
        <div class="digi_button">
          <a href="{{block.settings.collection.url}} ">{{ block.settings.button }}
          </a>
        </div>
        <div class="scroll"></div>
      </div>
    {% endcase %}
  {% endfor %}

</div>

{% schema %}
  {
    "name": "Digifist",
    "tag": "section",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "type": "left",
        "name": "left side",
        "settings": [
          {
            "type": "image_picker",
            "id": "left_img",
            "label": "left big image"
          }
        ]
      }, {
        "type": "right",
        "name": "right side",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": " Right side title"
          }, {
            "type": "text",
            "id": "desc",
            "label": " Right side description"
          }, {
            "type": "text",
            "id": "digi_button",
            "label": " Right side button"
          }, {
            "type": "collection",
            "id": "collection",
            "label": " collections"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Digifist"
      }
    ]
  }
{% endschema %}